# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

# If you are using a django-assets to manage your static files, then you should ignore the folder it creates:
#static/

# If your environment includes media uploads, uncomment the following to ignore them:
#media/

# Backup files #
*.bak

# pyenv #
.python-version

# Environments #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors #
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Rope project settings #
.ropeproject

# mkdocs documentation #
/site

# mypy #
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker #
.pyre/
